[submodule "HACAPI-HallHop"]
	path = HACAPI-HallHop
	url = https://github.com/varun-b-nagaraj/HACAPI-HallHop.git
[submodule "HACAPI-HallHop"]
	path = HACAPI-HallHop
	url = https://github.com/varun-b-nagaraj/HACAPI-HallHop.git

[submodule "HallHop Website"]
	path = HallHop Website
	url = https://github.com/varun-b-nagaraj/HallHop-Website.git

[submodule "HallHop-Chrome Extension"]
	path = HallHop-Chrome Extension
	url = https://github.com/varun-b-nagaraj/HallHop-CE.git

[submodule "HallHop OutReach"]
	path = HallHop OutReach
	url = https://github.com/varun-b-nagaraj/hallhop-outreach.git
